<!doctype html5>
<html ng-app="missionsApp">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Missions</title>

  <link rel="icon" type="image/png" href="assets/favicon.png">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-controller="MainController">

<!-- navbar code -->
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
  <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Missions</a>
      </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="selected">Missions</a></li>
          <li><a href="/brigades.html">Brigades</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- end of navbar code -->


<!-- carousel - using ui.bootstrap dependency  -->
<div>
  <div style="margin-top: 45px; margin-bottom: 20px;">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{ slide.title }}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<!-- end of the carousel -->


<div class="container main-content">

  <div class="row">
    <div id="grid" style="position: relative; margin-bottom: 20px;">
      <a href="#" ng-repeat="mission in missions"><img src="hexagons/{{mission.image}}.png" ng-class="hex"></a>
    </div>
  </div>

</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="js/angular-ui-bootstrap.js"></script>
<script src="js/app.js"></script>

</body></html>
